nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-top: 5px;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li:hover {
    background-color: antiquewhite;
    border-radius: 5px;
}

/* nested menu start */
nav li .dropdown {
    display: none;
    position: absolute;
    background-color: aliceblue;
}

nav li:hover .dropdown {
    display: block;
}